<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
 
    <svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   id="logo"
   version="1.1"
   viewBox="0 0 1920 1080"
   height="1080px"
   width="1920px"
   fill="none">
 
  <path
     d="m 303.84677,661.53076 q 0,0 0.0773,0 14.84808,0 25.28813,-19.6053 9.51206,-17.70802 9.51206,-68.30234 0,-29.40797 -9.51206,-47.27408 -10.44005,-19.60531 -25.28813,-19.60531 0,0 -0.0773,0 -3.09335,0 -5.33603,4.427 -2.16534,4.42701 -2.16534,11.22562 v 123.4818 q 0,6.48239 2.16534,11.0675 2.24268,4.58511 5.33603,4.58511 z M 282.19332,486.34789 q 16.62676,-2.37161 21.88545,-2.37161 25.98414,0 43.07489,27.19445 17.09076,27.19445 17.09076,74.94285 0,43.0052 -14.38408,69.251 -15.54408,27.66877 -43.22956,27.66877 -5.10403,0 -24.28279,-1.89728 -3.09335,-0.31622 -5.10403,-4.58511 -1.93334,-4.427 -1.93334,-10.7513 V 501.36809 q 0,-6.00809 2.01068,-10.43509 1.93334,-3.95268 4.87202,-4.58511 z"
     stroke="black"
    stroke-width="7"
     id="path972" />
  <path
     d="m 468.29739,648.16834 32.01617,-1.26485 q 3.40269,-0.15811 6.10937,4.90133 2.70667,5.05943 2.70667,12.96479 v 0.63244 q 0,7.43103 -2.55201,12.80668 -2.55201,5.21755 -6.26403,5.05943 h -41.45088 q -5.64536,0 -9.74405,-8.37968 -4.09869,-8.37968 -4.09869,-19.92152 V 512.03797 q 0,-11.38372 3.94402,-19.92152 3.94402,-8.37968 9.89872,-8.37968 h 39.36287 q 4.40802,0 6.88271,6.32428 3.78935,9.48645 1.624,18.49856 -2.16534,9.01212 -3.01601,10.43508 -2.62935,4.2689 -5.64537,3.95268 l -29.77349,-2.84593 v 44.90246 l 28.07215,-1.42296 q 3.48002,-0.1581 6.10937,4.90132 2.62935,5.05944 2.62935,12.6486 v 0.63242 q 0,7.58915 -2.62935,12.8067 -2.62935,5.21753 -6.10937,5.05942 l -28.07215,-1.42296 z"
     stroke="black"
    stroke-width="7"
     id="path975" />
  <path
     d="m 667.23894,623.66688 q 0,25.45527 -8.73872,42.21464 -10.44005,19.6053 -30.46949,19.6053 -7.65603,0 -19.0241,-6.95672 -3.55735,-1.73917 -5.49069,-8.69589 -2.01068,-6.95673 -1.16001,-14.38777 l 0.15467,-0.63243 q 1.00534,-8.06347 4.48536,-12.01615 3.55735,-4.11079 7.50137,-1.42297 9.28004,6.00808 15.54408,6.00808 6.1867,0 10.13072,-5.53375 3.94402,-5.53376 3.94402,-14.38777 0,-9.01212 -3.48002,-14.70398 -3.55735,-5.69186 -12.29606,-12.17426 -26.83481,-19.6053 -26.83481,-59.44835 0,-27.19445 10.13072,-43.16329 10.13072,-16.75937 26.68014,-16.44315 5.9547,0 16.00808,5.05943 3.63469,1.73918 5.64536,8.85401 2.01069,7.11482 1.08267,14.54587 l -0.15466,0.31621 q -1.16001,7.27293 -4.25335,11.06752 -3.17069,3.95267 -6.88271,1.89729 -15.38941,-8.85401 -21.73078,1.42296 -3.40268,5.53376 -3.40268,13.59723 0,8.06347 3.86668,13.12291 3.78936,5.05942 15.23475,13.91343 23.50946,18.02424 23.50946,58.3416 z"
     stroke="black"
    stroke-width="7"
     id="path978" />
  <path
     d="m 803.30798,660.97731 q 0,9.64455 -3.3253,16.60125 -3.32538,6.95672 -8.12007,6.95672 h -0.23198 q -4.79469,0 -8.19741,-6.7986 -3.40266,-6.95673 -3.40266,-16.75937 V 506.19027 q 0,-9.80266 3.40266,-16.75938 3.40272,-6.95673 8.19741,-6.95673 h 0.23198 q 4.63999,0 8.04272,6.79863 3.40265,6.79861 3.40265,16.91748 z"
     stroke="black"
    stroke-width="7"
     id="path981" />
  <path
     d="m 962.34424,570.77708 q 0,0 21.65341,0 3.94404,-0.31621 6.72803,5.53376 2.78407,5.69186 2.70672,13.75533 v 59.29024 q -0.15471,10.90939 -3.55736,19.6053 -3.40266,8.37968 -7.3467,9.96076 -3.94404,1.58107 -10.20804,3.63647 -6.26407,2.2135 -13.9201,2.2135 -25.82944,0 -39.74954,-27.35256 -13.99738,-27.35257 -14.15208,-70.99018 0.1547,-48.69704 16.08543,-76.52393 15.93072,-27.66878 40.21357,-27.66878 5.64533,0 22.58141,2.84594 3.40272,0.63243 5.41335,6.32428 3.63471,11.54184 1.23733,25.45528 l -0.15463,0.31621 q -2.78399,14.07156 -9.43475,12.96481 l -21.57606,-4.42701 q -17.47746,-3.47836 -24.43747,11.85804 -10.05341,21.66071 -8.58403,52.01731 1.15998,25.45527 10.74936,43.00518 9.66672,17.54991 23.12279,17.54991 h 3.86669 q 2.62936,0 5.02667,-4.90132 2.39738,-4.90134 2.39738,-10.11887 v -23.08366 q 0,-5.21755 -1.70137,-8.06348 -2.01069,-4.58511 -3.71198,-2.84593 l -4.48536,4.58511 q -5.33607,5.21755 -7.03737,-8.06347 v -0.31622 q -1.70136,-11.54183 1.39196,-19.6053 2.47466,-6.95672 6.88274,-6.95672 z"
     stroke="black"
     stroke-width="7"
     id="path984" />
  <path
     d="m 1083.721,550.1441 1.392,109.25213 q 0.1547,9.01213 -3.248,16.44316 -3.248,6.95672 -8.0427,6.95672 h -0.3094 q -5.9546,0 -9.28,-6.95672 -3.4027,-6.6405 -3.4027,-16.44316 V 507.29702 q 0,-9.48644 3.4027,-16.44316 3.0934,-6.64051 7.8881,-6.64051 h 6.8053 q 6.1094,0 9.2801,9.80266 l 40.6775,123.16558 -1.4694,-109.88457 q -0.1546,-9.32832 3.3254,-16.12695 3.4027,-6.95672 7.9654,-6.95672 h 0.3093 q 6.1094,0 9.4348,6.64051 3.248,6.64051 3.248,16.44316 v 138.502 q 0,9.0121 -5.1814,25.92958 -4.408,11.06751 -12.6828,11.06751 h -0.4639 q -9.8987,0 -15.2348,-17.86611 z"
     stroke="black"
    stroke-width="7"
     id="path987" />
  <path
     d="m 1254.7836,648.16834 32.0162,-1.26485 q 3.4026,-0.15811 6.1094,4.90133 2.7066,5.05943 2.7066,12.96479 v 0.63244 q 0,7.43103 -2.552,12.80668 -2.552,5.21755 -6.264,5.05943 h -41.4509 q -5.6454,0 -9.7441,-8.37968 -4.0987,-8.37968 -4.0987,-19.92152 V 512.03797 q 0,-11.38372 3.9441,-19.92152 3.9439,-8.37968 9.8987,-8.37968 h 39.3628 q 4.408,0 6.8828,6.32428 3.7893,9.48645 1.624,18.49856 -2.1654,9.01212 -3.0161,10.43508 -2.6293,4.2689 -5.6453,3.95268 l -29.7735,-2.84593 v 44.90246 l 28.0721,-1.42296 q 3.48,-0.1581 6.1094,4.90132 2.6294,5.05944 2.6294,12.6486 v 0.63242 q 0,7.58915 -2.6294,12.8067 -2.6294,5.21753 -6.1094,5.05942 l -28.0721,-1.42296 z"
     stroke="black"
    stroke-width="7"
     id="path990" />
  <path
     d="m 1406.8579,504.53024 v 83.32253 h 11.1361 q 5.8,-0.31621 9.8987,-8.85401 4.0987,-8.69589 4.0214,-32.72821 0,-23.87418 -4.1761,-32.88631 -4.2533,-9.01212 -9.744,-8.854 z m 35.2642,94.07384 q 0,0 14.0747,48.38083 2.4747,8.5378 1.0054,20.87016 -1.5467,12.33237 -4.9494,12.33237 h -0.1546 q -3.9441,4.74321 -8.2747,2.2135 -9.0481,-4.74322 -12.6828,-27.03635 l -7.2693,-44.11193 -17.0135,0.63243 v 48.69704 q 0,9.80266 -3.48,16.28505 -3.48,6.4824 -7.8107,6.4824 h -0.3093 q -4.64,0 -7.9654,-6.79861 -3.3254,-6.79861 -3.3254,-15.96884 V 507.05995 q 0,-9.48644 3.4027,-16.44316 3.4027,-6.95672 8.1974,-6.95672 h 26.6801 q 2.8614,0 4.8721,0.94865 11.2907,3.47836 18.8694,21.50259 7.5787,18.02423 7.5787,39.36872 0,21.34448 -5.9547,40.31736 -2.1653,6.95672 -5.4907,12.80669 z"
     stroke="black"
    stroke-width="7"
     id="path993" />
</svg>

  </body>

</html> 
